@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap");

body{
  font-family: 'Titillium Web', sans-serif;
  margin:0px;
  background-color: black;
}

:root{
  --primary-color:#8ef6e4;
}


.navigation{
  background-color: var(--primary-color);
  min-height: 10vh;
  color:black;
  align-items: center;
  margin: auto;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius:1rem;
  padding:1rem;
}
.navigation .nav-brand{
  margin: auto;
  text-align: center;
  font-size: 2rem;
  max-width: fit-content;
  padding: .5rem;
  font-weight: 600;
}

