@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap");

body{
  font-family: 'Titillium Web', sans-serif;
  margin:0px;
  background-color: black;
}

:root{
  --primary-color:#8ef6e4;
}

